/* Add these styles to your component's CSS file or style tag */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px; 
    margin: 10px; 
  }
  
  #dropdown {
    margin: 15px; 
    padding: 10px; 
    box-shadow: 10px;
    font-size: 18px; 

  }
  
  input {
    margin-bottom: 15px; 
    padding: 10px; 
    font-size: 18px; 
  }
  
  button {
    padding: 12px 16px;
    font-size: 18px; 
    margin: 10px; 
  }
  
  button:hover {
    background-color: #0056b3; 
  }
  
  p {
    margin-top: 15px; 
    color: #2b6678; 
    font-size: 18px; 
    margin-left: 15px;
  }
  
  #pretag {
    margin-top: 15px; 
    margin-left: 15px;
    padding: 15px; 
    background-color:#2b667876; 
    border-radius: 8px; 
    overflow: auto;
    margin: 10px; 
    max-height: 399px;
    font-size: 16px;
    width: 96%;
  }
  #metaData{
    margin-left: 15px;
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
  }
  textarea{
    height: 100px;
    width: 96%;
    margin-left: 15px;
  }
  